PublicaMensagemJMS/PublicaMensagemProject/wsdl/XMLSchema_-29779175.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/RecebeFilaApplication/RecebeFilaProject/RecebeFilaBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="numeroDepartamento" type="integer" minOccurs="1"/>
        <element name="nomeDepartamento" type="string" minOccurs="1"/>
        <element name="localDepartamento" type="string" minOccurs="1"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>
