NetApplication/NetProject/canonicalmodel/nid/v1/partner/partner/Partner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/partner/partner/Partner"
	xmlns:tns="http://www.netservicos.com.br/canonicalmodel/nid/v1/partner/partner/Partner">
	
	

	<complexType name="PartnerType">
		
	</complexType>

	<element name="Partner" type="tns:PartnerType" />

	<complexType name="PartnersType">
		<sequence>
			<element ref="tns:Partner" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="Partners" type="tns:PartnersType" />

</schema>