NetApplication/NetProject/canonicalmodel/nid/v1/service/service/LineUp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified"
	targetNamespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/service/service/LineUp"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.netservicos.com.br/canonicalmodel/nid/v1/service/service/LineUp">

	
	
	<complexType name="LineUpType">
		<sequence>
		
		</sequence>
	</complexType>

	<element name="LineUp" type="tns:LineUpType" />

	<element name="LineUps">
		<complexType>
			<sequence>
				<element ref="tns:LineUp" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

</schema>