NetApplication/NetProject/netarchitecture/security/credentialstoreosb/wsdl/proxy/CredentialStoreOSBV1.wsdl

<wsdl:definitions name="CredentialStoreOSBV1" 
	targetNamespace="http://www.netservicos.com.br/CredentialStoreOSBV1" 
	xmlns:cso="http://www.netservicos.com.br/CredentialStoreOSBV1" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:met="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/common/Metadata" 
	xmlns:rtf="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/fault/RuntimeFault" 
	xmlns:sat="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/security/SecurityAuthorities">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.netservicos.com.br/CredentialStoreOSBV1" 
			elementFormDefault="qualified" attributeFormDefault="qualified">

			<xsd:import namespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/common/Metadata" 
				schemaLocation="../../../../../canonicalmodel/nid/v1/netarchitecture/common/Metadata.xsd"/>
			
			<xsd:import namespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/fault/RuntimeFault" 
				schemaLocation="../../../../../canonicalmodel/nid/v1/netarchitecture/fault/RuntimeFault.xsd"/>
			
			<xsd:import namespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/netarchitecture/security/SecurityAuthorities" 
				schemaLocation="../../../../../canonicalmodel/nid/v1/netarchitecture/security/SecurityAuthorities.xsd"/>
				
			<xsd:complexType name="updateCredentialRequestType">
				<xsd:sequence>
						<xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="updateCredentialResponseType">
				<xsd:sequence/>
			</xsd:complexType>
			
			<xsd:complexType name="retrieveCredentialRequestType">
				<xsd:sequence/>
			</xsd:complexType>
			
			<xsd:complexType name="retrieveCredentialResponseType">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="updateCredentialRequest" type="cso:updateCredentialRequestType"/>
			
			<xsd:element name="updateCredentialResponse" type="cso:updateCredentialResponseType"/>
			
			<xsd:element name="retrieveCredentialRequest" type="cso:retrieveCredentialRequestType"/>
			
			<xsd:element name="retrieveCredentialResponse" type="cso:retrieveCredentialResponseType"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="updateCredentialRequest">
		<wsdl:part name="payload" element="cso:updateCredentialRequest"/>
		<wsdl:part name="headerMetadata" element="met:Metadata"/>
		<wsdl:part name="headerSecurityAuthorities" element="sat:SecurityAuthorities"/>
	</wsdl:message>
	
	<wsdl:message name="updateCredentialResponse">
		<wsdl:part name="payload" element="cso:updateCredentialResponse"/>
	</wsdl:message>
	
	<wsdl:message name="retrieveCredentialRequest">
		<wsdl:part name="payload" element="cso:retrieveCredentialRequest"/>
		<wsdl:part name="headerMetadata" element="met:Metadata"/>
		<wsdl:part name="headerSecurityAuthorities" element="sat:SecurityAuthorities"/>
	</wsdl:message>
	
	<wsdl:message name="retrieveCredentialResponse">
		<wsdl:part name="payload" element="cso:retrieveCredentialResponse"/>
	</wsdl:message>
	
	<wsdl:message name="runtimeFault">
		<wsdl:part name="fault" element="rtf:RuntimeFault"/>
	</wsdl:message>

	<wsdl:portType name="CredentialStoreOSBV1PortType">
		<wsdl:operation name="updateCredential">
			<wsdl:input message="cso:updateCredentialRequest"/>
			<wsdl:output message="cso:updateCredentialResponse"/>
			<wsdl:fault name="runtimeFault" message="cso:runtimeFault"/>
		</wsdl:operation>
		<wsdl:operation name="retrieveCredential">
			<wsdl:input message="cso:retrieveCredentialRequest"/>
			<wsdl:output message="cso:retrieveCredentialResponse"/>
			<wsdl:fault name="runtimeFault" message="cso:runtimeFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="CredentialStoreOSBV1BindingLCL" type="cso:CredentialStoreOSBV1PortType">
		<soap12:binding style="document" transport="http://www.bea.com/transport/2007/05/local"/>
		<wsdl:operation name="updateCredential">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:header message="cso:updateCredentialRequest" wsdl:required="true" part="headerMetadata" use="literal"/>
				<soap12:header message="cso:updateCredentialRequest" wsdl:required="true" part="headerSecurityAuthorities" use="literal"/>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="runtimeFault">
				<soap12:fault name="runtimeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveCredential">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:header message="cso:retrieveCredentialRequest" wsdl:required="true" part="headerMetadata" use="literal"/>
				<soap12:header message="cso:retrieveCredentialRequest" wsdl:required="true" part="headerSecurityAuthorities" use="literal"/>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="runtimeFault">
				<soap12:fault name="runtimeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="CredentialStoreOSBV1BindingSB" type="cso:CredentialStoreOSBV1PortType">
		<soap12:binding style="document" transport="http://www.bea.com/transport/2007/05/sb"/>
		<wsdl:operation name="updateCredential">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:header message="cso:updateCredentialRequest" wsdl:required="true" part="headerMetadata" use="literal"/>
				<soap12:header message="cso:updateCredentialRequest" wsdl:required="true" part="headerSecurityAuthorities" use="literal"/>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="runtimeFault">
				<soap12:fault name="runtimeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveCredential">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:header message="cso:retrieveCredentialRequest" wsdl:required="true" part="headerMetadata" use="literal"/>
				<soap12:header message="cso:retrieveCredentialRequest" wsdl:required="true" part="headerSecurityAuthorities" use="literal"/>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="payload" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="runtimeFault">
				<soap12:fault name="runtimeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CredentialStoreOSBV1Service">
		<wsdl:port name="CredentialStoreOSBV1PortSB" binding="cso:CredentialStoreOSBV1BindingSB">
			<soap12:address location="sb://servbus/netarchitecture.security.CredentialStoreOSB12V1SB"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>