NetApplication/NetProject/canonicalmodel/nid/v1/resource/topology/Device.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" 
	targetNamespace="http://www.netservicos.com.br/canonicalmodel/nid/v1/resource/topology/Device" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.netservicos.com.br/canonicalmodel/nid/v1/resource/topology/Device">
	

	<complexType name="DeviceType">
		
	</complexType>

	<element name="Device" type="tns:DeviceType"/>

	<element name="Devices">
		<complexType>
			<sequence>
				<element ref="tns:Device" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

</schema>